<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <h1 class="text-center mt-4">To Do List</h1>
      <form id="create-task">
        <input id="task-input" type="text" placeholder="Add Task" required/>
        <button class="btn btn-xs btn-primary" id="add-button"> Create </button>
      </form>
      <div class="row" id="tasks"></div>
      </div>
    </div>
  </div>
